{% extends 'template.html' %}
{% block content %}
    <h1 class="centered">Success! You are now Logged In! Here are your account details.</h1>
    <h3>Name:</h3>
    <p>{{ username }}</p>
    <h3>Email:</h3>
    <p>{{ email }}</p>
    <div>
        <img src="{{ profile_pic }}" alt="Google profile pic"></img>
    </div>
    <br>
    <a style="text-decoration:none; margin-top: 5px;" href="/logout">Logout</a>
    <br>
    <br>
    <a style="text-decoration:none; margin-top: 5px;" href="/home">Return to Home Page</a>
    <h2 class="centerednospace">Comments:</h2>
    {% for comment in comments %}
        <hr>
        <div class="commentview">
            <div class="commentpic">
                <img src="{{ comment.author.image_file }}" alt="Google profile pic" style="float:left"></img>
            </div>
            <div class="commentname">
                <p>{{ comment.author.username }}</p>
            </div>
            <div class="commentdate">
                <p>{{ comment.date_posted.strftime('%m-%d-%Y') }}</p>
            </div>
            <div class="commenttitle">
                <p>{{comment.title}}</p>
            </div>
            <div class="commentbody"><p>{{comment.content}}</p></div>
            <div class="commentdelete">
                {% if comment.author == current_user or current_user == master_email%}
                    <a href="{{ url_for('delete_comment', comment_id=comment.id) }}">Delete Comment</a>
                {% endif %}
            </div>
        </div> 
    {% endfor %}    
{% endblock content %}