{% extends 'template.html' %}
{% block content %}
    <h1 class="centered">The Love Hypothesis by Ali Hazelwood</h1>
    <img src="{{ url_for('static', filename='love_hypothesis.jpg') }}" alt="Picture of The Love Hypothesis with NYC as the background" class="imgsize"> 
    <h3 class="centerednospace">Rating: 9.5/10</h3>
    <div id="para1">
        <p class="para">While I found the cover art of this book slightly provocative, I still consider 
        this book to be one of my all-time favorites. Quite frankly, I was embarrassed to show off this book 
        on the subway, and I'm absolutely positive that the librarian was silently judging me when
        I checked this book out. I'm taking off half a star right off the bat for that. For a book to
        be good, it must be readable in public.
        </p>
        <p class="para">
        Summary: It all starts when the protagonist, Olive, abruptly kisses a hotshot professor in front 
        of her friend in order to portray the image that she had a boyfriend. Her friend was reluctant to 
        date Olive's ex due to their "girl code," and Olive didn't want this to happen. Unfortunately, she 
        didn't see who she was kissing, and the professor was one of the most hated on campus.
        Now, Olive is at a crossroads: will she keep up this fake relationship to ensure a relationship
        between her friend and her ex, or will she come clean to her friend? 
        </p>
        <h2 class="centerednospace">WARNING: CONTAINS SPOILERS!</h2>
        <button class="spoiler" onclick="spoiler()">Spoiler</button>
        <div id="spoilers">
            <p class="para">Plot: I thought that the plot development was very thought out,
            and I liked that the story had a side goal aside from the romance, which was for Olive
            to do her cancer research. It made the romance much better because it added another dimension
            of complexity that complicated the love between Olive and Adam. The plot itself was also very 
            intricate! Who would have thought Tom was actually evil, when he was really nice throughout the 
            whole book? It was the last thing I would have guessed, and this book is criminally underrated 
            when compared to the inferior "People We Meet on Vacation."</p>
            <p class="para">Romance: It was outstanding! I didn't feel like I was being edged waiting for a 
            romantic moment because of the side goals that I mentioned earlier. Focusing on straight romance (I think)
            takes away from the complicated and seemingly random ways that people can fall in love. Honestly, 
            straight romance books like "People We Met on Vacation" are way too corny and too by the book for me.
            Also, the sex scene was fifteen pages long, which caught me way off guard! I also liked how Adam stood
            up for Olive at the end. How everything came together — the initial meet up in the bathroom, the close 
            advising, the shared embarrassing moments — it really made his actions of standing up for Olive at the 
            expense of his career really believable!</p>
            <p class="para">I hope that this author makes more crazy books like this, because if she does, I 
            would totally drop everything to read it. This one has my stamp of approval for sure.</p>
        </div>   
        {% for comment in comments %}
        <div>
            <img src="{{ comment.author.image_file }}" alt="Google profile pic"></img>
            <p>{{ comment.author.username }}</p>
            <p>{{ comment.title }}</p>
            <p>{{ comment.content }}</p>
            <p>{{ comment.date_posted.strftime('%Y-%m-%d') }}</p>
        </div> 
        {% endfor %}
    </div>
{% endblock content %}